:root {
    --night-gray-dk: #0A0A0A;
    --night-gray-lt: #141414;
    --main-color: #F2CD60;
    --complimentary-color: #1F32FF;
    --off-white: #FFF1E6;

    --fs-xl: clamp(2rem, 5vw + 1rem, 5rem);
    --fs-600: 1.5rem;
    --fs-400: 1rem;

    --grid-gap: 1rem;
    --grid-column-count: 3;
    --grid-item-min-width: 250px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-gap));
    --grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    color: var(--off-white);
}

h1 {
    font-size: var(--fs-xl);
}

h2 {
    font-size: var(--fs-600);
    font-weight: 500;
}

html {
    font-size: clamp(14px, 2.5vw, 20px);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--night-gray-dk);
}

section {
    min-height: 100dvh;
    padding: 1rem 4rem;
}

ul {
    list-style: none;
}

#home, #about, #portfolio, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

.bold {
    color: var(--main-color);
    font-weight: bold;
}

.fa-solid {
    margin-right: 0.4em;
}

.btn {
    border: 1px solid var(--main-color);
    border-radius: 0.4em;
    padding: 0.7em 0.8em;
    font-weight: bold;
    display: inline-block;
    background-color: var(--night-gray-dk);
    transition: ease-in-out 0.3s;
}

.btn:hover {
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 5px var(--main-color),
    0 0 10px var(--main-color),
    0 0 25px var(--main-color);
    font-size: 1.1rem;
}
/*------------------------------------Header styles-----------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    padding: 1.5em;
    background-color: var(--night-gray-lt);
    width: 100%;
}

#navbar a{
    transition: ease-in-out .3s;
    margin-left: .8em;
}

#navbar a:hover {
    color: var(--main-color);
    transition: ease-in-out .3s;
    font-size: 1.2rem;
}

/*------------------------------------Home section styles-----------------------------------------------------*/
#home {
    background: var(--night-gray-dk) url(./assets/images/home-background-dk.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
}

#presentation-container {
    display: flex;
    flex-direction: column;
}

.download-btn {
    margin-top: 1em;
    align-self: flex-start;
}

/*------------------------------------About section styles-----------------------------------------------------*/
#about {
    flex-direction: row;
}

#profile-pic {
    max-width: 100%;
}

#profile-pic-container {
    mix-blend-mode: lighten;
}

#about-text-container p, .contact-btn {
    margin-top: 2em;
}

/*------------------------------------Portfolio section styles-----------------------------------------------------*/
#portfolio {
    text-align: center;
    background: linear-gradient(180deg,rgba(10, 10, 10, 1) 0%, rgb(39, 39, 39) 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr));
    gap: var(--grid-gap);
    margin-top: 2rem;
}

.grid-item img {
    width: 100%;
    border-radius: 1em;
    transition: ease-in-out .3s;
}

.grid-item img:hover {
    box-shadow: 0 0 5px var(--main-color),
    0 0 10px var(--main-color),
    0 0 25px var(--main-color);
    transition: ease-in-out .3s;
}

/*------------------------------------Contact section styles-----------------------------------------------------*/
#contact {
    background: var(--night-gray-lt) url(./assets/images/contact-bg.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-left-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.contact-text-container p {
    margin-top: 1rem;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact-info-container a {
    margin-top: .5rem;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 0.6rem 4rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: .4rem;
}

.submit-btn {
    margin-top: 1rem;
}

/*------------------------------------Footer section styles-----------------------------------------------------*/
footer {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    display: flex;
}

@media only screen and (max-width: 768px) {
    section {
        padding: 1rem 1.5rem;
    }

    #contact, #about {
        flex-direction: column;
    }

    #contact {
        justify-content: center;
    }

    #contact-right-container {
        margin-top: 4rem;
    }
}