:root {
    --night-gray: #0A0A0A;
    --main-color: #FFEC1F;
    --complimentary-color: #1F32FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: #fff;
    background-color: var(--night-gray);
}

header {
    position: sticky;
    top: 0;
    padding: 1.5em;
    background-color: var(--night-gray);
}

header a {
    color: #fff;
    transition: ease-in-out .3s;
}

header a:hover {
    color: var(--main-color);
    transition: ease-in-out .3s;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1.2em;
}

ul li:not(:first-child) {
    margin-left: 1em;
}

#github a, #linkedin a {
    font-size: 2rem;
    color: #fff;
    transition: ease-in-out .3s;
}

#github a:hover, #linkedin a:hover {
    font-size: 2.4rem;
    color: var(--main-color);
    transition: ease-in-out .3s;
}

#navbar a {
    margin-left: .8em;
}

#home {
    background: url(./assets/images/home-background-dk.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-position-x: left;
    display: grid;
    align-items: center;
    padding: 7em;
}

#presentation-container p {
    font-size: 1.4rem;
    font-weight: 200;
}

#presentation-container h1 {
    font-size: 4rem;
    font-weight: 500;
}

#presentation-container h2 {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .7rem;
}

.active {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

.color-main {
    color: var(--main-color);
    font-weight: bold;
}

.download-btn {
    border: 1px solid var(--main-color);
    padding: .8em;
    border-radius: 1em;
    background: none;
    color: #fff;
    transition: ease-in-out .3s;
    font-size: 1rem;
    font-weight: bold;
}

.download-btn:hover {
    background-color: var(--main-color);
    color: #000;
    transition: ease-in-out .3s;
}
.fa-solid {
    margin-right: .4em;
}